<h1>Edit Animal Entry</h1>


<form action='/edit-animal/{{id}}' method='post'>
    <!-- Form fields... -->

    <div class='form-group'>
        <label for='zoo'>Zoo</label>
        <input type='text' name='zoo' id='zoo' class='form-control' value='{{animal.zoo}}' required />
    </div>

    <div class='form-group'>
        <label for='scientificName'>Scientific Name</label>
        <input type='text' name='scientificName' id='scientificName' class='form-control'
            value='{{animal.scientificName}}' required />
    </div>

    <div class='form-group'>
        <label for='commonName'>Common Name</label>
        <input type='text' name='commonName' id='commonName' class='form-control' value='{{animal.commonName}}'
            required />
    </div>

    <div class='form-group'>
        <label for='givenName'>Given Name</label>
        <input type='text' name='givenName' id='givenName' class='form-control' value='{{animal.givenName}}' required />
    </div>

    <div class='form-group'>
        <label for="gender">Gender</label>
        <label class='btn {{#if animal.gender}}{{/if}}'>
            <input type='radio' name='gender' value='Male' {{#if animal.gender}}checked{{/if}} />
            Male
        </label>
        <label class='btn {{#unless animal.gender}}{{/unless}}'>
            <input type='radio' name='gender' value='Female' {{#unless animal.gender}}checked{{/unless}} /> 
            Female
        </label>
    </div>
    <div class='form-group'>
        <label for='dateOfBirth'>Date of Birth</label>
        <input type='date' name='dateOfBirth' id='dateOfBirth' class='form-control' value='{{dateOfBirth}}' />
    </div>

    <div class='form-group'>
        <label for='age'>Age</label>
        <input type='number' name='age' id='age' class='form-control' value='{{animal.age}}' required />
    </div>

    <div class='form-group'>
        <label for="isTransportable">Is Transportable</label>
        <label class='btn {{#if animal.isTransportable}}{{/if}}'>
            <input type='radio' name='isTransportable' value='AVAILABLE' {{#if animal.isTransportable}}checked{{/if}} />
            Available
        </label>
        <label class='btn {{#unless animal.isTransportable}}{{/unless}}'>
            <input type='radio' name='isTransportable' value='UNAVAILABLE' {{#unless animal.isTransportable}}checked{{/unless}} /> Unavailable
        </label>
    </div>

    <button type='submit' class='btn btn-primary'>Submit</button>
</form>

<form action="/delete-animal/{{id}}" method="post">
    <input type="hidden" name="hiddenInput">
    <button class="btn btn-primary" type="submit">Delete Record</button>
</form>